doctype html
html
    head(lang='es')
        meta(charset='UTF-8')
        link(rel='shortcut icon', href='http://www.jdmiguel.com/favicon.ico', type='image/x-icon')
        title JDMIGUEL | TIMELINE
        link(href='http://fonts.googleapis.com/css?family=Days+One', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='../css/styles.css')
    body.body-timeline
        #loader
            img#buffer(src='../assets/img/buffer_4.gif', width='50', height='50')
        #page-wrap
            h1.logo
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', xml:space='preserve')
                    path(fill="#c11e99", d='M39.7,3.3c0,0-9.6-6.9-27.2-0.7C7.4,4.3,4.9-1,3.5,0.2C-2.8,5.8,0.3,13.9,6,19.3c5.8-5.1,12,0.8,12,0.8\
                    c2.4,1.9,4.6,3.6,7.8,6.2c-7.6,0.5-13.7,0.9-20.3,1.3C6,30.8,5.9,33.9,6.3,37c0.3,0,1.2-0.2,1.5-0.2c0-2.1,0-4.1,0-6.4\
                    c6.4,0,12.6,0,18.7,0c3.7,7.9-0.5,11.7-11.5,17.2c-2.6-2-4.8-3.8-7.2-5.4c-0.7-0.4-2.1,0.2-3.1,0.3c0.6,0.8,1,1.7,1.7,2.3\
                    c0.9,0.9,2.2,1.5,3.2,2.3c2.2,1.7,3.8,4,1.2,6.1C9.7,54,9,53.5,6.3,53.3c-2,2.5-0.6,6.1,2.1,8.3c1.4,1.2,3.2-0.4,5.9-1\
                    c2.7-0.6,5.2-1.8,7.7-2.9c8.7-4,11.6-8.9,10.6-17.5c-0.2-1.9-0.8-3.9-0.6-7.3c0.1-1.2,0.9-3.1,1.9-3.5C40.3,26.7,40,34,40,34\
                    c0,0.3-0.1,0.6-0.1,0.9c-0.7,5.7,0.7,9.8,6.4,11.8c4.2-3.3,5.4-9.1,7.6-13.3C53.8,33.3,61,3.9,39.7,3.3z')
                .logo-txt
                    span J
                    span D
                    span MIGUEL
            #tit-timeline
                h2 Timeline
            #content-timeline
                #int-timeline
                    ul#years
                        li 2008
                        li 2009
                        li 2010
                        li 2011
                        li 2012
                        li 2013
                        li 2014
                        li 2015
                        li 2016
                    svg#lines-dotted(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='800px', height='350px', viewbox='0 0 800 350', enable-background='new 0 0 800 350', xml:space='preserve')
                        g
                            line.line-dotted(fill='none', stroke='#456ae3', stroke-width='2', stroke-miterlimit='10', x1='70', stroke-dasharray='3,3', y1='350', x2='70', y2='0')
                            line.line-dotted(fill='none', stroke='#456ae3', stroke-width='2', stroke-miterlimit='10', x1='140', stroke-dasharray='3,3', y1='350', x2='140', y2='0')
                            line.line-dotted(fill='none', stroke='#456ae3', stroke-width='2', stroke-miterlimit='10', x1='210', stroke-dasharray='3,3', y1='350', x2='210', y2='0')
                            line.line-dotted(fill='none', stroke='#456ae3', stroke-width='2', stroke-miterlimit='10', x1='280', stroke-dasharray='3,3', y1='350', x2='280', y2='0')
                            line.line-dotted(fill='none', stroke='#456ae3', stroke-width='2', stroke-miterlimit='10', x1='350', stroke-dasharray='3,3', y1='350', x2='350', y2='0')
                            line.line-dotted(fill='none', stroke='#456ae3', stroke-width='2', stroke-miterlimit='10', x1='420', stroke-dasharray='3,3', y1='350', x2='420', y2='0')
                            line.line-dotted(fill='none', stroke='#456ae3', stroke-width='2', stroke-miterlimit='10', x1='490', stroke-dasharray='3,3', y1='350', x2='490', y2='0')
                            line.line-dotted(fill='none', stroke='#456ae3', stroke-width='2', stroke-miterlimit='10', x1='560', stroke-dasharray='3,3', y1='350', x2='560', y2='0')
                    #blocks
                        #itt
                            svg.blocks-graphics(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', xml:space='preserve')
                                g
                                    circle.circle-begin(cx='8', cy='15', r='5', stroke='transparent', stroke-width='3', fill='#456ae3')
                                    line.line-blocks(fill='none', stroke='#456ae3', stroke-width='2', stroke-miterlimit='10', x1='12', y1='15', x2='78', y2='15')
                                    circle.circle-end-stroke(cx='90', cy='15', r='12', stroke='#456ae3', stroke-width='3', fill='transparent')
                                    circle.circle-end-fill(cx='90', cy='15', r='12', fill='#456ae3', stroke='transparent')
                                    g.add
                                        line.line-v-add(fill='none', stroke='#ffffff', stroke-width='2.5', stroke-miterlimit='10', x1='90', y1='10', x2='90', y2='20')
                                        line.line-h-add(fill='none', stroke='#ffffff', stroke-width='2.5', stroke-miterlimit='10', x1='85', y1='15', x2='95', y2='15')
                            img(src='../assets/img/timeline_icon_1.png')
                            p CREATIVE DESIGNER
                            span.area-rollover
                        #retis
                            svg.blocks-graphics(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', xml:space='preserve')
                                g
                                    circle.circle-begin(cx='8', cy='15', r='5', stroke='transparent', stroke-width='3', fill='#456ae3')
                                    line.line-blocks(fill='none', stroke='#456ae3', stroke-width='2', stroke-miterlimit='10', x1='12', y1='15', x2='28', y2='15')
                                    circle.circle-end-stroke(cx='40', cy='15', r='12', stroke='#456ae3', stroke-width='3', fill='transparent')
                                    circle.circle-end-fill(cx='40', cy='15', r='12', fill='#456ae3', stroke='transparent')
                                    g.add
                                        line.line-v-add(fill='none', stroke='#ffffff', stroke-width='2.5', stroke-miterlimit='10', x1='40', y1='10', x2='40', y2='20')
                                        line.line-h-add(fill='none', stroke='#ffffff', stroke-width='2.5', stroke-miterlimit='10', x1='35', y1='15', x2='45', y2='15')
                            img(src='../assets/img/timeline_icon_2.png')
                            p HTML/CSS DEVELOPER
                            span.area-rollover
                        #rumbo
                            svg.blocks-graphics(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', xml:space='preserve')
                                g
                                    circle.circle-begin(cx='8', cy='15', r='5', stroke='transparent', stroke-width='3', fill='#456ae3')
                                    line.line-blocks(fill='none', stroke='#456ae3', stroke-width='2', stroke-miterlimit='10', x1='12', y1='15', x2='58', y2='15')
                                    circle.circle-end-stroke(cx='70', cy='15', r='12', stroke='#456ae3', stroke-width='3', fill='transparent')
                                    circle.circle-end-fill(cx='70', cy='15', r='12', fill='#456ae3', stroke='transparent')
                                    g.add
                                        line.line-v-add(fill='none', stroke='#ffffff', stroke-width='2.5', stroke-miterlimit='10', x1='70', y1='10', x2='70', y2='20')
                                        line.line-h-add(fill='none', stroke='#ffffff', stroke-width='2.5', stroke-miterlimit='10', x1='65', y1='15', x2='75', y2='15')
                            img(src='../assets/img/timeline_icon_3.png')
                            p WEB DESIGNER
                            span.area-rollover
                        #publicis
                            svg.blocks-graphics(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', xml:space='preserve')
                                g
                                    circle.circle-begin(cx='8', cy='15', r='5', stroke='transparent', stroke-width='3', fill='#456ae3')
                                    line.line-blocks(fill='none', stroke='#456ae3', stroke-width='2', stroke-miterlimit='10', x1='12', y1='15', x2='73', y2='15')
                                    circle.circle-end-stroke(cx='85', cy='15', r='12', stroke='#456ae3', stroke-width='3', fill='transparent')
                                    circle.circle-end-fill(cx='85', cy='15', r='12', fill='#456ae3', stroke='transparent')
                                    g.add
                                        line.line-v-add(fill='none', stroke='#ffffff', stroke-width='2.5', stroke-miterlimit='10', x1='85', y1='10', x2='85', y2='20')
                                        line.line-h-add(fill='none', stroke='#ffffff', stroke-width='2.5', stroke-miterlimit='10', x1='80', y1='15', x2='90', y2='15')
                            img(src='../assets/img/timeline_icon_4.png')
                            p FRONT-END DEVELOPER
                            span.area-rollover
                        #proximity
                            svg.blocks-graphics(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', xml:space='preserve')
                                g
                                    circle.circle-begin(cx='8', cy='15', r='5', stroke='transparent', stroke-width='3', fill='#456ae3')
                                    line.line-blocks(fill='none', stroke='#456ae3', stroke-width='2', stroke-miterlimit='10', x1='12', y1='15', x2='200', y2='15')
                                    circle.circle-end-stroke(cx='213', cy='15', r='12', stroke='#456ae3', stroke-width='3', fill='transparent')
                                    circle.circle-end-fill(cx='213', cy='15', r='12', fill='#456ae3', stroke='transparent')
                                    g.add
                                        line.line-v-add(fill='none', stroke='#ffffff', stroke-width='2.5', stroke-miterlimit='10', x1='213', y1='10', x2='213', y2='20')
                                        line.line-h-add(fill='none', stroke='#ffffff', stroke-width='2.5', stroke-miterlimit='10', x1='208', y1='15', x2='218', y2='15')
                            img(src='../assets/img/timeline_icon_5.png')
                            p FRONT-END DEVELOPER
                            span.area-rollover
                        #scpf
                            svg.blocks-graphics(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', xml:space='preserve')
                                g
                                    circle.circle-end-stroke(cx='90', cy='15', r='12', stroke='#456ae3', stroke-width='3', fill='transparent')
                                    circle.circle-end-fill(cx='90', cy='15', r='12', fill='#456ae3', stroke='transparent')
                                    g.add
                                        line.line-v-add(fill='none', stroke='#ffffff', stroke-width='2.5', stroke-miterlimit='10', x1='90', y1='10', x2='90', y2='20')
                                        line.line-h-add(fill='none', stroke='#ffffff', stroke-width='2.5', stroke-miterlimit='10', x1='85', y1='15', x2='95', y2='15')
                            img(src='../assets/img/timeline_icon_6.png')
                            p FRONT-END DEVELOPER
                            span.area-rollover
                svg#bg-content(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='800px', height='350px', viewbox='0 0 800 350', enable-background='new 0 0 800 350', xml:space='preserve')
                    rect#bg-stroke(x='0', y='0', width='800', height='350', stroke='#456ae3', fill='transparent', stroke-width='3')
                    rect#bg-fill(x='0', y='0', width='800', height='350', stroke='transparent', fill='rgba(69,106,227,0.14)')
        .container-btn-back
            a
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', xml:space='preserve')
                    circle(cx='15', cy='15', r='10', stroke='#ffffff', stroke-width='2', fill='transparent')
                    polyline(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                    16.5,10 11.5,15 16.5,20')
                p Back to home
        #bg-timeline.bg
        .social
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', xml:space='preserve')
                path(fill='#ffffff',d='M7,4.6L6.7,7h-2v7H1.5V7H0V4.6h1.5V2.7C1.5,1.3,2.6,0,4.1,0H7v2.4H5.4C5,2.4,4.7,2.8,4.7,3.1v1.5H7z')
                path(fill='#ffffff',d='M0,10.1c1,0.7,2.4,1.4,4.2,1.3c1.7-0.1,2.9-0.8,3.9-1.6c-0.7,0-1.3-0.2-1.5-0.6C6.3,8.7,6.9,8.3,7.3,8.1\
                c-1.4,0-2.1-0.5-2.6-1.2C5,6.5,5.5,6.3,6.1,6.3C4.9,5.9,3.9,5.5,3.8,4.2C4.1,4.1,4.5,4.1,5,4.1C4.1,3.5,3.2,2.9,3.2,1.5\
                c2,0.7,4,1.4,5.8,2.4c0.6,0.3,1,0.8,1.5,1.2c0.4-1,0.8-1.9,1.4-2.8c0.5-0.8,1.1-1.6,2.1-2.1c0,0.2-0.1,0.3-0.2,0.5\
                c0.4-0.2,1-0.6,1.6-0.6c-0.1,0.3-0.4,0.5-0.6,0.6c0.2-0.1,0.5-0.2,0.8-0.2c0.2,0,0.8-0.1,0.8,0.1c0,0.3-0.6,0.5-0.8,0.5\
                c-0.4,0.1-0.7,0.2-1,0.3c2.8,0.2,4.1,1.7,4.7,3.9c0.7,0.2,1.9,0.2,2.6-0.1c-0.4,0.8-1.3,1-2.4,1.1c0.6,0.2,1.6,0.3,2.4,0.2\
                c0,0-0.1,0.1-0.1,0.2c-0.5,0.5-1.4,0.8-2.5,0.7c-1.1,3.6-4.1,5.7-8.4,6.5C9.8,14,8.6,14.1,7.4,14C4,13.7,1.7,12,0,10.1z')
                path(fill='#ffffff',d='M0,1.7C0,0.8,0.8,0,1.8,0h0c1,0,1.9,0.8,1.9,1.7v0.1c0,0.9-0.8,1.6-1.8,1.6h0C0.9,3.4,0,2.7,0,1.7L0,1.7z\
                M0,4.3h3.6V14H0L0,4.3z M5.4,4.3h3.7v0.9c0.2-0.1,0.9-1,3.4-1c3.1,0,3.5,1.9,3.6,2.9V14l-3.7,0V7.6c0-0.2-0.5-0.9-1.5-0.9h0\
                c-1.1,0-1.7,0.6-1.7,0.8V14l-3.7,0V4.3z')
            .over-social
                span
                span
                span
        #footer
            p
                | info@jdmiguel.com
                br
                | copyright © 2015
        #portrait
            img(src='../assets/img/portrait.png')
            p Coloca tu móvil o tablet en horizontal<br/> para disfrutar de una mejor experiencia.          
        script(text='javascript', src='../js/libs/preloadjs-0.6.0.min.js')
        script(text='javascript', src='../js/libs/jquery-1.10.0.min.js')
        script(text='javascript', src='../js/libs/TweenMax.min.js')
        script(text='javascript', src='../js/libs/TimelineMax.min.js')
        script(text='javascript', src='../js/libs/DrawSVGPlugin.min.js')
        script(text='javascript', src='../js/main.js')
        script(text='javascript').
            var queue = new createjs.LoadQueue();
            var loader = document.getElementById("loader");
            var buffer = document.getElementById("buffer");
            queue.loadFile({src:'../data/timeline.json', id:'dataList', type:createjs.LoadQueue.JSON});
            queue.addEventListener("fileload", onJsonLoaded);
            function onJsonLoaded(event){
                var item = event.item;
                var type = item.type;
                var arrayData = [];
                queue.removeEventListener("fileload", onJsonLoaded);
                if (type == createjs.LoadQueue.JSON){
                    for (var i=0; i<event.result.datos.length; i++){
                        arrayData.push({id: event.result.datos[i].id, src: event.result.datos[i].src});
                    }
                    queue.loadManifest(arrayData);
                    queue.addEventListener("complete", goTimeline);
                }
            }
            function goTimeline(){
                queue.removeEventListener("fileload", onJsonLoaded);
                var timeline = new Timeline();
                TweenMax.to(buffer, .4, {opacity:0});
                TweenMax.to(loader, .6, {delay:.3, opacity:0,onComplete:
                        function(){
                            TweenMax.set(loader, {css:{display:"none"}});
                            TweenMax.set(buffer, {css:{display:"none"}});
                        }
                });
            }
